
.header{
  background: transparent;
  height: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 999;

  nav{
    width: 100%;
  }
}

.header.active {
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255) 100%);
}

.tamanioLogo {
  width: 100px;
  height: 120px;
}

.btn-hamburger {
  filter: drop-shadow(2px 4px 6px black);
}

.nav__list {
  align-items: center;
}

@media (min-width: 0px) and (max-width: 991.98px) {
  .nav__list {
    align-items: flex-end;
  }
}

