.colorNav {
    background-color: rgb(218, 218, 218);
    display: flex;
    padding: 0 1rem;
  }
  
  .tamanioLogo {
    width: 100px;
    height: 120px;
  }
  
  .titulo{
      display: flex;
      justify-content: center;
      width: 100%;
  
      h1 {
          display: flex;
          align-items: center;
          justify-content: center;
        }
  }
  
  .listaNav {
    display: flex;
    width: 100%;
    justify-content: end;
  
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 20px;
      font-weight: 600;
  
      li {
        transition: 120ms;
      }
      a {
          text-decoration: none;
          color: inherit;
  
          &:hover {
              color: rgb(40, 40, 255);
            }
      }
    }
  }